/* Loader.css */

.bc-brand {
    --brand-color: var(--brand);
}

.bc-white {
    --brand-color: white;
}

.mr-8 {
    margin-right: 8px;
}

.loader {
    display: inline-block;
    position: relative;
}

.loader-inner {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(32deg);
    width: calc(200%/3);
    height: calc(200%/3);
    border: var(--border-width, 5px) solid var(--brand-color);
    border-right: var(--border-width, 5px) solid transparent;
    border-radius: 50%;
}

.loader-s {
    width: 24px;
    height: 24px;

    & .loader-inner {
        --border-width: 2px;
    }
}

.loader-m {
    width: 48px;
    height: 48px;

    & .loader-inner {
        --border-width: 4px;
    }
}

.loader-l,
.loader-undefined {
    width: 60px;
    height: 60px;

    & .loader-inner {
        --border-width: 5px;
    }
}