@import "styles/variables";

.bcBrand {
  --brand-color: $brand;
}

.bcWhite {
  --brand-color: white;
}

.loader {
  display: inline-block;
  position: relative;

  &Inner {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(32deg);
    width: calc(200% / 3);
    height: calc(200% / 3);
    border: var(--border-width, 5px) solid var(--brand-color);
    border-right: var(--border-width, 5px) solid transparent;
    border-radius: 50%;
  }
}

.loader_s {
  width: 24px;
  height: 24px;

  & .loaderInner {
    --border-width: 2px;
  }
}

.loader_m {
  width: 48px;
  height: 48px;

  & .loaderInner {
    --border-width: 4px;
  }
}

.loader_l,
.loader_undefined {
  width: 60px;
  height: 60px;

  & .loaderInner {
    --border-width: 5px;
  }
}

.mr8 {
  margin-right: 8px;
}