/* Button.scss */
@import "styles/variables";

.button-main {
    padding: $space-s $space-l;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    line-height: 134%;
    background-color: $brand;
    color: $button-primary-text;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $brand-hover;
    }

    &:disabled {
        background-color: #D9D9D9;
    }

    &:active {
        background-color: $brand-active;
    }
}

.button--disabled {
    pointer-events: none; /* Запрещаем события кнопки при задизейбленном состоянии */
}