@import './Roboto/fonts';
@import "variables";

html, body {
  font-family: 'Roboto', serif;
  background-color: $color-main-bg;
  margin: 0 auto;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
blockquote,
figure,
pre {
  margin: 0;
  padding: 0;
}

