$color-box-shadow: rgba(0, 0, 0, 0.25);
$color-light-grey: rgba(0, 0, 0, 0.2);
$brand: #518581;
$color-header-bg: #F3F3F3;
$color-main-bg: #FAFAFA;
$color-white: #FFFFFF;
$color-grey: #D9D9D9;
$text-accent: $brand;
$input-placeholder: #AFADB5;
$input-border-focus: $brand;
$text-secondary: #AFADB5;
$brand-active: #487773;
$text-primary: #000000;
$brand-hover: #86AAA7;
$space-xl: 24px;
$space-xs: 12px;
$space-xxs: 8px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
